./vite-project/node_modules/
# Exclude virtual environments
./project/.venv/

# Exclude compiled Python files
*.pyc
__pycache__/
*.pyd

# Exclude other large files
*.dll


# Exclude compiled Python files
*.pyc
__pycache__/

# Exclude DLLs and other binaries
*.dll
*.pyd
